@use '@angular/material' as mat;

:root {
  @include mat.table-overrides(
    (
      background-color: #2a3846,
      header-headline-weight: 600,
    )
  );

  @include mat.expansion-overrides(
    (
      container-background-color: #2a3846,
      // TODO: Change this (and other instances) to variable
    )
  );
}

mat-expansion-panel {
  border: 1px solid var(--border-color);
}

// @use '@angular/material' as mat;

// // Customize the entire app. Change :root to your selector if you want to scope the styles.
// :root {
//   @include mat.toolbar-overrides((
//     container-background-color: orange,
//     container-text-color: red,
//   ));
// }
.mat-mdc-tab-link .mdc-tab__text-label {
  transition: none !important;
}

// Reducing horizontal padding for player selection stepper so that it is aligned with other components
mat-stepper {
  .mat-horizontal-stepper-header {
    padding: 0 16px;
  }
  .mat-horizontal-content-container {
    padding: 0 16px 16px 16px;
  }
}

// Form Field overrides
.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  height: 0;
  line-height: 0;
}

.delete-icon-button {
  @include mat.icon-overrides(
    (
      color: #e7000b // var(color-red-600),
    )
  );
}
