.sorted-player-list {
  border: solid 1px var(--border-color);
  min-height: 60px;
  background-color: #2a3846;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  max-width: 100%;
  font-family: sans-serif;

  .mat-mdc-form-field-subscript-wrapper {
    line-height: 0 !important;
    height: 0 !important;
  }

  .select-num-of-pass-catchers {
    min-width: fit-content;
    width: 100px;
    max-width: 100px;
  }

  .sorted-player {
    padding: 15px 10px;
    border-bottom: solid 1px #ccc;
    cursor: move;
    background-color: #2a3846;
  }

  .sorted-player:last-child {
    border: none;
  }

  .sorted-player-list.cdk-drop-list-dragging
    .sorted-player:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .delete-icon-button button {
    background-color: var(--border-color);
  }
}

.cdk-drag-preview {
  padding: 15px 10px;
  background-color: var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sort-order {
  height: 45px;
  width: 45px;
  background-color: var(--border-color);
  border-radius: 50%;
  display: inline-block;
  line-height: 45px;
  text-align: center;

  &.qb-rank {
    color: var(--qb-red);
  }

  &.rb-rank {
    color: var(--rb-green);
  }

  &.wr-rank {
    color: var(--wr-blue);
  }

  &.te-rank {
    color: var(--te-orange);
  }

  &.dst-rank {
    color: var(--dst-brown);
  }
}
