<!-- <app-nx-welcome></app-nx-welcome> -->

<mat-toolbar>
  <mat-icon>sports_football</mat-icon>
  <span class="ml-[10px]">Dynasty Rookie Rankings</span>
</mat-toolbar>
<div class="main-content">
  <mat-tab-group>
    <mat-tab label="All">
      <!-- TODO: Convert to component -->

      <mat-card appearance="outlined" class="my-[20px] px-[25px]">
        <mat-card-header>
          <mat-card-title>Add Player</mat-card-title>
          <!-- <mat-card-subtitle>Non-sporting group</mat-card-subtitle> -->
        </mat-card-header>

        <mat-card-content>
          <form
            [formGroup]="profileForm"
            class="grid content-center pt-[20px]"
            (ngSubmit)="savePlayer()"
            >
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Position</mat-label>
              <mat-select formControlName="position">
                <mat-option [value]="position.QB">{{ position.QB }}</mat-option>
                <mat-option [value]="position.RB">{{ position.RB }}</mat-option>
                <mat-option [value]="position.WR">{{ position.WR }}</mat-option>
                <mat-option [value]="position.TE">{{ position.TE }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Team</mat-label>
              <mat-select formControlName="teamId">
                @for (team of teams; track team) {
                  <mat-option [value]="team.teamId">
                    {{ team.teamLongName }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Reasons For Optimism</mat-label>
              <textarea
                formControlName="reasonsForOptimism"
                matInput
              ></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Reasons For Concern</mat-label>
              <textarea formControlName="reasonsForConcern" matInput></textarea>
            </mat-form-field>
          </form>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-button type="button" (click)="savePlayer()">Save</button>
        </mat-card-actions>
      </mat-card>

      <!-- TODO: Convert to component -->
      <h1>Overall Rankings</h1>
      <mat-accordion class="example-headers-align">
        @for (player of players(); track player) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="rank">{{ player.positionRank }}</span>
                {{ player.name }}
              </mat-panel-title>
              <mat-panel-description>
                <div>
                  <span class="mx-[5px]">
                    {{ player.position }}
                  </span>
                  -
                  <span class="mx-[5px]">{{ player.teamLongName }}</span>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput />
          </mat-form-field> -->
          <!-- <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1" />
        </mat-form-field> -->
        <mat-action-row>
          <button mat-button (click)="savePlayer(true)">Save</button>
        </mat-action-row>
      </mat-expansion-panel>
    }
  </mat-accordion>
</mat-tab>
<mat-tab label="QB"> </mat-tab>
<mat-tab label="RB"> Content 3 </mat-tab>
<mat-tab label="WR"> Content 4 </mat-tab>
<mat-tab label="TE"> Content 5 </mat-tab>
</mat-tab-group>
</div>

<router-outlet></router-outlet>
